
.product-card 
{
    padding: 0;
    min-width: 200px;
    max-width: 290px;
    min-height: 400px;
}
.product-card p
{
    font-size: 0.7rem;
    text-align: left;
}

.product-card    img:hover
{

    cursor: pointer;
    transform: scale(1.3);
    transition: all 300ms ease-out;

}